@model PS.Domain.View_Models.UserProfile;
@{
    Layout = "_Layout";
}

<div class="row p-3 d-flex justify-content-between">
    <div class="col">
        <h2 class="m-0 fontstyle" style="color: var(--blue1);">Edit User</h2>
    </div>
    <div class="col d-flex justify-content-end">
        <a class="btn btn-border" asp-area="" asp-controller="Users" asp-action="userList">
            < Back</a>
    </div>
</div>
<div class="m-4">
    <div class="divcontent shadow">
        <div class="p-3">
            <form asp-area="" asp-controller="Users" asp-action="EditUser">
            <!-- name -->
            <div class="row d-flex mb-3">
                <div class="col-sm-12 col-md-6 col-lg-6 form-floating mb-3">
                    <input class="inputfields form-control" type="text" id="firstname" placeholder="FirstName"
                        value="Steve">
                    <label for="firstname" class="ps-4">First Name</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 form-floating mb-3">
                    <input class="inputfields form-control" type="text" id="lastname" placeholder="LastName"
                        value="steve">
                    <label for="lastname" class="ps-4">Last Name</label>
                </div>
            </div>
            <!-- username and role -->
            <div class="row d-flex mb-3">
                <div class="col-sm-12 col-md-6 col-lg-6 form-floating mb-3">
                    <input class="inputfields form-control" type="text" id="username" placeholder="UserName"
                        value="steve123">
                    <label for="username" class="ps-4">User Name</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 form-floating mb-3">
                    <select class="inputfields form-select" type="button" id="role" placeholder="Role">
                        <option value="0">Select Role</option>
                        <option value="1">Admin</option>
                        <option value="2">Chef</option>
                        <option value="3">Account Manager</option>
                    </select>
                    <label for="role" class="ps-4">Role</label>
                </div>
            </div>
            <!-- email and status -->
            <div class="row d-flex mb-3">
                <div class="col-sm-12 col-md-6 col-lg-6 form-floating mb-3">
                    <input class="inputfields form-control" disabled type="text" id="email" placeholder="Email"
                        value="steve@yopmail.com">
                    <label for="email" class="ps-4">Email</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 form-floating mb-3">
                    <select class="inputfields form-select " type="button" id="status" placeholder="Status">
                        <option value="0">Active</option>
                        <option value="1">Inactive</option>
                    </select>
                    <label for="status" class="ps-4">Status</label>
                </div>
            </div>
            <!-- browse file -->
            <div class="row d-flex mb-3">
                <div class="upload-container">
                    <label class="upload-box" for="fileInput">
                        <input type="file" id="fileInput" onchange="changeFileName(event)" hidden />
                        <div class="upload-content">
                            <img class="icon" src="@Url.Content("~/images/my/cloud-arrow-up.svg")" alt=""></i>
                            <p id="fileName">Browse File</p>
                        </div>
                    </label>
                </div>
            </div>
            <!-- country, state and city -->
            <div class="row d-flex mb-3">
                <div class="col-sm-12 col-md-4 col-lg-4 form-floating mb-3">
                    <select class="inputfields form-select" type="text" id="country" placeholder="Country">
                        <option value="0">Select Country</option>
                        <option value="1">Country 1</option>
                        <option value="2">Country 2</option>
                        <option value="3">Country 3</option>
                    </select>
                    <label for="country" class="ps-4">Country</label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 form-floating mb-3">
                    <select class="inputfields form-select" type="text" id="state" placeholder="State">
                        <option value="0">Select State</option>
                        <option value="1">State 1</option>
                        <option value="2">State 2</option>
                        <option value="3">State 3</option>
                    </select>
                    <label for="state" class="ps-4">State</label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 form-floating mb-3">
                    <select class="inputfields form-select" type="text" id="city" placeholder="City">
                        <option value="0">Select City</option>
                        <option value="1">City 1</option>
                        <option value="2">City 2</option>
                        <option value="3">City 3</option>
                    </select>
                    <label for="city" class="ps-4">City</label>
                </div>
            </div>
            <!-- zipcode, address and phone -->
            <div class="row d-flex mb-3">
                <div class="col-sm-12 col-md-4 col-lg-4 form-floating mb-3">
                    <input class="inputfields form-control" type="text" id="zipcode" placeholder="Zipcode"
                        value="123456">
                    <label for="zipcode" class="ps-4">Zip Code</label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 form-floating mb-3">
                    <input class="inputfields form-control" type="text" id="address" placeholder="Address"
                        value="street 1, LA">
                    <label for="address" class="ps-4">Address</label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 form-floating mb-3">
                    <input class="inputfields form-control" type="text" id="Phone" placeholder="Phone"
                        value="2135467890">
                    <label for="phone" class="ps-4">Phone</label>
                </div>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-start">
                <a href="users.html" class="btn btn-filled m-2">Update User</a>
                <a href="users.html" class="btn btn-border m-2">Cancel</a>
            </div>
            </form>
        </div>

    </div>
</div>