@{
    Layout = "_LoginLayout";
}

<div class="d-flex fit-content justify-content-center align-items-center">
    <img class="logo" src="@Url.Content("~/images/logos/pizzashop_logo.png")" alt="">
    <h1 style="color: #0d6efd;">PIZZA SHOP</h1>
</div>

<div class="mt-3 mb-3 fs-3 fw-bold fontstyle">Forgot Password</div>

<!-- form -->
<p class="fs-6">Enter your email and we'll send you a link to reset your password.</p>
<form>
    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email*" aria-label="Recipient Email"
            aria-describedby="basic-addon1" required>
        <span class="input-group-text" id="basic-addon1">
            <img class="icon" src="images/Default_pfp.svg.png" alt="no image">
    </div>
    <button class="btn btn-primary" style="width: 100%;">Send</button>
    <div class=" mt-2 d-flex justify-content-center">
        <a class="text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">Back to Login</a>
    </div>
</form>