<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza_Shop_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PS.Web/Views/Shared/_LoginLayout.cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pizza_Shop_MVC.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<body class="fontstyle" style="background-color: lightcyan">
    <div class="d-flex flex-wrap align-items-center justify-content-center m-0">
        <!-- Main image -->
        <div class="col-12 col-md-6 main-image">
            <img class="img-fluid img-fluid1" src="@Url.Content("~/images/dominos_background.jpg")" alt="">
        </div>
        <!-- Main Content -->
        <div class="col-12 col-md-6 d-flex fit-content justify-content-center align-items-center">
            <div class="m-5">
                <!-- Render component-->
                <main role="main" class="p-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>